__pycache__/
*.pyc
.venv/
venv/
env/
.ipynb_checkpoints/
.DS_Store
.vscode/
.idea/

external/
synthea/

data/fhir_baseline/
data/fhir_variants/
*.ndjson
*.jsonl

*.sqlite
*.sqlite3
*.db
*.duckdb

vocabulary/
athena/
VOCABULARY.csv
CONCEPT.csv
CONCEPT_ANCESTOR.csv
CONCEPT_CLASS.csv
CONCEPT_RELATIONSHIP.csv
CONCEPT_SYNONYM.csv
DOMAIN.csv
DRUG_STRENGTH.csv
RELATIONSHIP.csv
SOURCE_TO_CONCEPT_MAP.csv

*.log
tmp/
temp/
*.tar
*.tar.gz
*.7z
*.gz
